
@font-face {
    font-family: Alexandria;
    src: url(..\fonts\Alexandria\Alexandria-VariableFont_wght.ttf);
      }
      html:lang(ar) {
        direction: rtl;
      }
      
      html{
          /* height: 100%; */
          /* overflow-x: hidden; */
      }
      body{
        /* background-color: white; */
        /* display: flex; */
        /* flex-direction: column; */
        /* min-height: 100%; */
      }
      
      footer{
        
          margin-top: auto;
          margin-bottom: 10px;
          text-align: center;
          width: 100%;
          height: auto;
          font-family: Alexandria;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px; 
          color: #000000;      
      }
       
      
      